In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df.head(10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.5830,5.0,7.272727,1.099567,617.0,2.670996,33.49,-117.71,397700.0
1,3.8141,52.0,5.568000,1.034667,908.0,2.421333,34.08,-118.35,342000.0
2,4.4081,39.0,4.657360,0.983503,1519.0,1.927665,37.94,-122.54,435200.0
3,5.7984,20.0,7.186957,1.093478,1374.0,2.986957,38.28,-122.45,297600.0
4,3.9265,11.0,4.975904,0.903614,684.0,4.120482,38.03,-121.28,107400.0
5,4.7768,52.0,5.853755,1.100791,1215.0,2.401186,37.33,-121.92,301100.0
6,5.3439,23.0,5.825980,0.987745,1101.0,2.698529,33.83,-117.86,227100.0
7,2.1574,35.0,4.729765,1.097911,2721.0,3.552219,33.92,-117.28,86900.0
8,2.6181,15.0,5.951673,1.200743,661.0,2.457249,39.05,-122.78,108900.0
9,1.6393,22.0,4.819788,1.088339,1081.0,1.909894,33.47,-117.67,500001.0

In [3]:
df_res = pd.read_csv('test.csv')
df_res.head(10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,2.3844,13.0,5.333333,1.020716,1065.0,2.005650,33.22,-117.28
1,1.8125,23.0,4.899721,1.019499,788.0,2.194986,39.77,-121.62
2,2.1437,40.0,3.900763,1.026718,2150.0,4.103053,33.95,-118.28
3,5.0956,21.0,5.808917,1.041401,2266.0,3.608280,33.70,-117.87
4,2.1094,27.0,6.958861,1.667722,744.0,2.354430,39.02,-122.69
5,5.0100,20.0,17.546099,4.432624,338.0,2.397163,37.65,-118.99
6,5.5335,21.0,6.113924,1.088608,417.0,2.639241,33.88,-118.37
7,3.1568,36.0,5.109649,0.937135,1688.0,2.467836,37.66,-121.02
8,4.5625,35.0,6.000000,1.000000,706.0,2.824000,33.96,-118.13
9,4.5481,6.0,4.725490,1.072304,1547.0,1.895833,32.77,-117.17